.progress-bar
  &__circle
    stroke-dashoffset: 0
    transition: stroke-dashoffset .25s ease
    stroke: $blue-green
    stroke: #cccccc
    stroke-width: 20px
    r: $bar-radius
  &__circle--outer
    stroke: $yellow
    stroke-linecap: round